.dashboard {
    margin: 0 30px;
}

.dashboard p {
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.undraw img {
    height: 330px;
    margin: 24px 0 -95px 0;
}

.form {
    width: 40%;
}

.container form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container form input {
    margin-bottom: 15px;
}

.container form input,
.container form textarea {
    font-size: 15px;
    color: #272728;
    width: 100%;
    height: 40px;
    padding: 10px 16px 10px 16px;
    border: solid 1px #e1e1e1;
    background-color: #fcfcfc;
    border-radius: 5px;
    transition: linear .2s;
    display: block;
}

.container form p {
    margin: 0;
}

.container form textarea {
    height: 310px;
    min-height: 310px;
    max-height: 500px;
    max-width: 420px;
    margin-bottom: 30px;
}

.countDownButton {
    padding: 1rem 2rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 8px;
    background: var(--blue);
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 400;
    transition: background-color .2s;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    z-index: 2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.countDownButton:not(:disabled):hover {
    background: var(--blue-dark);
}

.countDownButtonActive {
    background: var(--white);
    color: var(--title);
}

.countDownButtonActive:not(:disabled):hover {
    background: var(--red);
    color: var(--white);
}

.countDownButton:disabled {
    background: var(--white);
    color: var(--text);
    cursor: not-allowed;
    border-bottom: 3px solid var(--red);
}