.dashboard {
    margin: 0 30px;
}

.dashboard p {
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 500px;
    background-color: #cfeafc;
    padding: 30px 50px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.card h2 {
    color: var(--blue);
    margin: 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.remaing {
    display: flex;
    align-items: center;
}

.remaing p {
    font-size: 18px;
    color: #22384a;
    margin: 0 0 0 10px;
}

.remaing svg {
    height: 50px;
    width: 50px;
    color: var(--blue);
}

.undraw img {
    height: 200px;
}